.header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    line-height: 100px;
    font-size: 70px;
}

/* Style the search bar */
form.searchbar {
    margin-left: 500px;
}

/* Style the search input */
form.searchbar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 30%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.searchbar button {
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.searchbar button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.searchbar::after {
    content: "";
    clear: both;
    display: table;
  }