/*Work Cited: https://ui.docs.amplify.aws/react/components/button */

/*To increase the closeness of the buttons to the text*/
.I-secondRow {
  margin-top: 100px;
  margin-bottom: -15px;
}

/*Overriding "I'm a" test to be to the left of the page*/
h2.I-secondRow{
    text-align: left;
}

/* overrides .amplify-button so that the default button state is transparent */
.amplify-button.RestaurantCustomer {
    background-color: transparent;
  }

/* overrides .amplify-button so that the default button state is transparent */
.amplify-button.LogoHome {
    background-color: transparent;
  }

  /* overrides .amplify-button so that the hover color is black*/
.amplify-button:hover {
    background-color: black;
  }

/* overrides .amplify-button so that the last button clicked is transparent*/
.amplify-button:focus {
    background-color: transparent;
  }